		  <!-- Main Body contents -->
	  <div class="container my-3">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="calculate#index">dashboard</a></li>
			<li class="breadcrumb-item active" aria-current="page">FAQs</li>
		  </ol>
		</nav>
			<div class="container">
  <h1>FAQs</h1>
  
  <div>
      <input type="checkbox" id="question1" name="q"  class="questions">
      <div class="plus">+</div>
      <label for="question1" class="question">
        Is this data official?
      </label>
      <div class="answers">
        <h3>NO!</h3>
      </div>
    </div>
    
    <div>
      <input type="checkbox" id="question2" name="q" class="questions">
      <div class="plus">+</div>
      <label for="question2" class="question">
        Where are the rates from?
      </label>
      <div class="answers">
        The market observations on this WEBSITE are from unofficial sources, mainly the streets of Harare and from other available sources such as Social Media.
      </div>
    </div>
      
    <div>
      <input type="checkbox" id="question3" name="q" class="questions">
      <div class="plus">+</div>
      <label for="question3" class="question">
        What do to get correct information?
      </label>
      <div class="answers">
        Do not assume that the information provided here is accurate, correct or official. for official rates, please check with your local bank or directly with the reserve bank of Zimbabwe.
      </div>
    </div>
      
    <div>
      <input type="checkbox" id="question4" name="q" class="questions">
      <div class="plus">+</div>
      <label for="question4" class="question">
        Why this site?
      </label>
      <div class="answers">
       The information displayed on this website is strictly for investigating the rumored exchange rates and keeping record of such rumors for the sole purpose of studying and researching on the impact of currency speculations on the economy.
      </div>
    </div>
      
    <div>
      <input type="checkbox" id="question5" name="q" class="questions">
      <div class="plus">+</div>
      <label for="question5" class="question">
       Forex dealing?
      </label>
      <div class="answers">
       Please note, foreign currency dealing outside official banking channels or with unauthorized individuals is illegal and may attract heavy penalties or imprisonment. We strongly discourage illegal forex dealing and advise all to only deal with the bank or with authorized bureau de change.
      </div>
    </div>

      <h2 class="text-center">What is OMIR, RTGS AND BOND?</h2>
      
    <div>
      <input type="checkbox" id="question6" name="q" class="questions">
      <div class="plus">+</div>
      <label for="question6" class="question">
       OMIR
      </label>
      <div class="answers">
      Zimbabwe’s electronic money is officially valued at 1:1 against the U.S. dollar but in reality is worth much less. The 'Old Mutual Implied Rate' is an indicative comparison of the price of shares of insurer Old Mutual in London and Harare.
      </div>
    </div>
      
    <div>
      <input type="checkbox" id="question7" name="q" class="questions">
      <div class="plus">+</div>
      <label for="question7" class="question">
      RTGS
      </label>
      <div class="answers">
       Real Time Gross Settlement is a system used for interbank funds transfers. These transfers often require immediate and complete clearing and are usually organized by a country’s central bank. In Zimbabwe's context, an RTGS balance refers to a person's bank account balance which is not exactly a USD balance.
      </div>
    </div>
    
     
    <div>
      <input type="checkbox" id="question8" name="q" class="questions">
      <div class="plus">+</div>
      <label for="question8" class="question">
      Bond
      </label>
      <div class="answers">
       The Zimbabwe Bond Note is a surrogate currency issued by the Reserve Bank of Zimbabwe in 2016 against a loan facility from the African Export-Import Bank. Officially, the Bond Note is equivalent in value to the US Dollar, although in the market, people have placed less value on the bond.
      </div>
    </div>
    
    
  </div>
		</div>